[submodule "src/lz4"]
	path = src/lz4
	url = https://github.com/lz4/lz4.git
[submodule "src/zstd"]
	path = src/zstd
	url = https://github.com/facebook/zstd.git
[submodule "src/sqlite"]
	path = src/sqlite
	url = https://github.com/sqlite/sqlite.git
