
# Add requirement licenses
include src/lz4/LICENSE
include src/zstd/LICENSE
include src/sqlite/LICENSE.md

recursive-include src/lz4/lib *.c *.h
recursive-include src/zstd/lib *.c *.h
recursive-include src/sqlite/ext/lsm1 *.c *.h

# Add library interface
include lsm/lsm.pyi
include README.md
